.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
  margin: 20px 0 20px 0;
}

.level2 h1 {
  font-size: 2.11em; }

.level3 h1 {
  font-size: 1.55em; }

.level4 h1 {
  font-size: 1em; }

.reveal section img {
  border: 0; }
